.App {
  text-align: center;
}

.App-header {
  background-color: rgba(216, 56, 56, 0.26);
  height: 100px;
  padding: 10px;
  color: white;
  border-radius: 300px;
  width: 50%;
  position: relative;
  left:375px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.App-title {
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

.App-intro {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
