.card {
    background: #fff;
    border-radius: 10px;
    border-style: none;
    height: 240px;
    margin: 1rem;
    margin-top: 10px;
    width: 270px;
    overflow: hidden;
  }
  
  /* Slide */
   .hover img {
      margin-left: 10px;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
  .hover img:hover  {
      margin-left: -30px;

  }
  